# .NET Core Specific
bin/
obj/
!*.deps.json
!*.runtimeconfig.json

# ASP.NET Core Configuration
*.log
*.vs/
.env


# Entity Framework Core
*.mdf
*.ldf

# React.js Specific
node_modules/
.next/
build/
dist/
.npm/

# Log Files
logs/
*.log

# SQL Specific
*.bak
*.sqlproj
*.sqlproj.user

# IDEs and Editors
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Temporary Files
*.tmp
*.temp
*.pid
*.pid.lock

# System Files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Backup Files
*.bak
*.swp
*.swo

# Test Results
TestResults/
*.trx
*.coverage
*.coveragexml

# Package Managers
package-lock.json
yarn.lock

# Additional Configuration for Versioning
!/important-config/
